@page
@model SignalRTest.Pages.IndexModel
@{
}
<h1>SignalR Server</h1>
<hr />
<table cellpadding="4">
    <tr>
        <td>
            <a class="silverbutton" asp-page="/ChatTest">Clasic Chat Test</a>
        </td>
    </tr>
    <tr>
        <td>
            <a class="silverbutton" asp-page="/SensorTest">Sensor Test</a>
        </td>
    </tr>
    <tr>
        <td>
            <a class="silverbutton" asp-page="/MessagePackTest">MessagePack Test</a>
        </td>
    </tr>
    <tr>
        <td>
            <a class="silverbutton" asp-page="/StreamingTest">Streaming Test</a>
        </td>
    </tr>
</table>
<hr />