@page
@model SignalRTest.Pages.MessagePackTestModel
@{
    ViewData["Title"] = "MessagePack Test";
}
<h1>@ViewData["Title"]</h1>
<p>
    <a href="https://docs.microsoft.com/en-us/aspnet/core/signalr/messagepackhubprotocol?view=aspnetcore-3.1" target="_blank">
        MessagePack Hub Protocol in SignalR for ASP.NET Core
    </a>
</p>
<hr />
<div spellcheck="false">
    <h4><i class="fa fa-user-circle-o" aria-hidden="true"></i> <span id="user"></span> @ViewData["TestUser"]</h4>
    <button id="send-button" class="btn btn-default btn-fix">Send Temperature</button>
    <button id="clear-button" class="btn btn-default btn-fix">Clear</button>
    <hr />
    <div style="font-size:14px;margin-bottom:8px;">
        <i class="fa fa-comments-o" aria-hidden="true"></i> <span id="list-title">Work Space</span>
    </div>
    <div style="font-family:'Courier New';font-size:12px;">
        <ul id="messages-list"></ul>
    </div>
</div>

@section scripts{
    <script src="~/lib/signalr/signalr.min.js"></script>
    <script src="~/lib/signalr/msgpack5.min.js"></script>
    <script src="~/lib/signalr/signalr-protocol-msgpack.min.js"></script>
    <script src="~/js/messagePackTest.js" asp-append-version="true"></script>
    <script>
        MessagePackTest('@Url.Content("~/temperatureHub")');
    </script>
}
