@page
@model SignalRTest.Pages.StreamingTestModel
@{
}
<h1>Streaming Example</h1>
<p>
    ASP.NET Core SignalR supports streaming from client to server and from server to client. This is useful for scenarios where fragments of data arrive over time. When streaming, each fragment is sent to the client or server as soon as it becomes available, rather than waiting for all of the data to become available. 
    <a href="https://docs.microsoft.com/en-us/aspnet/core/signalr/streaming?view=aspnetcore-3.1">. Apply to Asp.NET Core 5.
        Streaming in ASP.NET Core SignalR
    </a>
</p>
<div class="row">
    <div class="col-1">&nbsp;</div>
    <div class="col-11">
        <input type="button" class="silverbutton" id="streamButton" value="Start Streaming" />
        <br /><br />
        <input type="button" class="silverbutton" id="uploadButton" value="Start Upload" />
    </div>
</div>
<br />
<hr />
<div class="row">
    <div class="col-1">&nbsp;</div>
    <div class="col-11">
        <ul id="messagesList"></ul>
    </div>
</div>

@section scripts{
    <script src="@Url.Content("~/lib/signalr/signalr.min.js")"></script>
    <script src="@Url.Content("~/js/streamSample.js")" asp-append-version="true"></script>
    <script>
        StreamSample('@Url.Content("~/streamHub")');
    </script>
}