@page
<h1>SignalR Client</h1>
<hr />
<table cellpadding="4">
    <tr>
        <td>
            <a class="silverbutton" asp-page="./Client">
                SignalR Chat Client
            </a>
        </td>
    </tr>
    <tr>
        <td>
            <a class="silverbutton" asp-page="./ApiTest">
                Api Test
            </a>
        </td>
    </tr>
</table>
